{% extends "base.html" %}

{% block title %}{{ channel.name }} - IPTV Web{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3>{{ channel.name }}</h3>
            </div>
            <div class="card-body">
                <div id="videoPlayer" class="ratio ratio-16x9">
                    <video id="video" controls></video>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const video = document.getElementById('video');
    const url = "{{ channel.url }}";

    if (Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource(url);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function() {
            video.play();
        });
    }
    else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = url;
        video.addEventListener('loadedmetadata', function() {
            video.play();
        });
    }
});
</script>
{% endblock %}
